@import "../../styles/variables.styles.scss";

.bg-logo {
  width: 68px;
  height: 68px;
  fill: url(#logo-gradient1) #447799;
}
.bg-logo2 {
  width: 68px;
  height: 68px;
  fill: url(#logo-gradient2) #447799;
}
.logo1 {
  margin-top: 68rem;
  margin-left: 75%;
  transform: rotate(25deg);
  width: 5rem;
}
.logo2 {
  margin-top: 5rem;
  margin-left: 18%;
  width: 7rem;
}
.logo3 {
  margin-left: 50%;
  margin-top: -3rem;
  width: 6rem;
}
.logo4 {
  margin-left: 86%;
  width: 15rem;
  height: 15rem;
}
.logo5 {
  margin-left: 20%;
  margin-top: 59rem;
  width: 15rem;
  height: 15rem;
}
.logo6 {
  margin-left: -3.9%;
  margin-top: 75rem;
  width: 20rem;
  height: 20rem;
}
.logo7 {
  margin-left: 90%;
  margin-top: 95rem;
}
.logo8 {
  margin-left: 45%;
  margin-top: 85rem;
}
.logo9 {
  margin-left: 97%;
  margin-top: 75rem;
  width: 9rem;
  height: 9rem;
}

.logo10 {
  margin-left: -3.9%;
  margin-top: 75rem;
}
