@import "./variables.styles.scss";
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Monoton";

  background-color: $main-color;
  background-image: url(https://awv3node-homepage.surge.sh/build/assets/stars.svg);
  visibility: hidden;
}
