.projects {
  color: white;
  background: linear-gradient(
    225deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );

  height: 100vh;
  transform: skewY(-1deg);
}

.project-title {
  font-size: 8rem;
  padding: 1rem 0 0 2rem;
  position: relative;
  overflow: hidden;

  &:before {
    color: pink;
    opacity: 0.2;
    font-size: 20rem;
    content: "Projets";
    position: absolute;
    left: -60px;
    top: -96px;
    z-index: -15;
    text-shadow: none;
  }
}
.project-border {
  color: white;
}
.grid-container {
  display: grid;
  justify-content: center;
  margin: 2rem;
  grid-gap: 2rem;
  grid-template-rows: repeat(2, 1fr);
}
.project {
  height: 25vh;
  display: flex;

  background-color: coral;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  hr {
    color: white;
  }
}
.left {
  transform: translateX(-2000px);
}
.right {
  flex-direction: row-reverse;
  transform: translateX(2000px);
}
.image-container {
  width: 40%;
  height: 100%;
}
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-information {
  width: 60%;
  padding: 2rem 3rem 0 3rem;
  font-family: "Crete Round", serif;

  h2 {
    margin-top: 2rem;
    font-size: 3rem;
  }
  p {
    width: 80%;
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
