.curtain {
  height: 34vh;
  background-color: #113755;
  position: absolute;
  z-index: 500;
}

.curtain2 {
  height: 34vh;
  background-color: #1a759f;
  position: absolute;
  top: 33vh;
  z-index: 500;
}
.curtain3 {
  height: 34vh;
  background-color: #f5ccd7;
  position: absolute;
  top: 66vh;
  z-index: 500;
}
.transition1 {
  width: 0%;

  right: 0%;
}
