@import "../../styles/variables.styles.scss";
.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  // background-color: $sec-color;
  background: linear-gradient(
    225deg,
    hsla(194, 77%, 38%, 1) 0%,
    hsla(141, 43%, 62%, 1) 100%
  );
  width: 0;
  height: 60vh;
  margin: 10rem auto 0 auto;

  transform: skewY(-3deg);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 10;
}
.name-title {
  transform: skewY(3deg);
  font-family: "Monoton", cursive;
  font-size: 8rem;
  width: 101.6rem;
  height: 12rem;
  position: relative;
  overflow: hidden;
}
.separation-line {
  width: 30rem;
  color: white;
  transform: skewY(3deg);
  margin: 2.5rem 0 2.5rem 0;
}
.title-description {
  font-family: "Crete Round", serif;
  font-size: 3.5rem;

  width: 42rem;
  height: 6rem;
  position: relative;
  overflow: hidden;
  transform: skewY(3deg);
}
.title {
  opacity: 1;
  position: absolute;
}
.accent {
  background: $logo-gradient;
  background-clip: text;
  color: transparent;
  opacity: 0;
}
.need {
  position: absolute;
  font-family: "Crete Round", serif;
  font-size: 3rem;
  bottom: -20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow-down {
  width: 68px;
  height: 68px;
  fill: white;
  animation: arrow 0.5s infinite alternate;
}

@keyframes arrow {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
